* {
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

body {
    outline: transparent;
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background-color: purple;
}

p {
    margin: 5px auto;
}

div.pupusas-container,
div.enchiladas-container {
    padding: 10px;
}

div.pupusas-container .content,
div.enchiladas-container .content{
    display: flex;
}

