* {
    box-sizing: border-box;
    outline: 1px red solid;
}

body {
    outline: transparent;
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background-color: powderblue;
}

p {
    margin: 5px auto;
}

h2 {
    margin: auto;
    text-align: center;
}

.food-container {
    display: flex;
}

.food-1-pupusas,
.food-2-enchiladas {
    display: flex;
    justify-content: center;
}